    <# import header #>
    <h1>Hello</h1>
    <# #>
    <# import #>
    <# neport #>
    <#= 3 #>
    <# assign testVar 4 #>
    <#= testVar #>
    <#= testVal #>
    <# assign testString "Hello" #>
    <#= testString #>
    <# assign testString "Tere Tere" #>
    <#= testString #>
    <#= "This is a constant string" #>
    <br />
    <#= importedVar #>
    <# if (testVar == 4) #>
    This should be visible 1
    <# endif #>
    <# if (testVar == 4) #>
    This should be visible 2
        <# if (testVar == 4) #>
        This should be visible 2a
        <# endif #>
        <# if (testVar >= 4) #>
            This should be visible 3
        <# endif #>
        <# if (testVar > 3) #>
            This should be visible 4
        <# endif #>
        <# if (testVar < 5) #>
            This should be visible 5
        <# endif #>
        <# if (testVar <= 4) #>
            This should be visible 6
        <# endif #>
    <# endif #>
    <# if (testVar != 4) #>
    This should <strong>NOT</strong> be visible
    <# endif #>

</body>
</html>