<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Initial Configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />
    <script src="/static/main.js"></script>
</head>
<body>
    <!-- 
        * sitename
        * subtitle/motto
        * timezone
        * time and date format
        * main language
        * secondary languages
        * current theme
     -->

     <div id="initial-configuration-dialog">
         <label for="site-name">Sitename</label>
         <input type="text" id="site-name" />

         <label for="subtitle">Subtitle</label>
         <input type="text" id="subtitle" />
     </div>
</body>
</html>