    <# import header #>
    <div class="dialog">
        <form method="POST" action="/login">
            <div class="error">Invalid credentials or non-existing user</div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" />

            <input type="submit" value="Log in" />
        </form>
    </div>
</body>
</html>